*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#050816;
font-family:'Segoe UI',sans-serif;
overflow:hidden;
}

.stars{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(white 1px, transparent 1px);
background-size:40px 40px;
opacity:0.15;
z-index:-1;
}

.universe-card{
width:550px;
padding:35px;
text-align:center;
border-radius:30px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,0.08);
}

.title{
font-size:4rem;
color:#8b7cff;
text-shadow:0 0 20px rgba(139,124,255,0.6);
margin-bottom:10px;
}

.subtitle{
color:white;
font-size:1.4rem;
margin-bottom:10px;
}

#planetCount{
color:#00d4ff;
margin-bottom:25px;
font-weight:bold;
}

#userName{
width:100%;
padding:14px;
border:none;
border-radius:12px;
background:rgba(255,255,255,0.08);
color:white;
outline:none;
}

.planet-section{
display:flex;
flex-direction:column;
align-items:center;
margin-top:25px;
}

.planet-section label{
color:white;
margin-top:15px;
margin-bottom:8px;
font-weight:500;
}

#planetName{
width:260px;
padding:12px;
border:none;
border-radius:12px;
background:rgba(255,255,255,0.08);
color:white;
outline:none;
}

.color-picker{
    margin-top:10px;
}

#planetColor{
    width:100px;
    height:50px;

    border:none;
    border-radius:12px;

    cursor:pointer;

    background:none;
}
#planetColor{
width:80px;
height:50px;
border:none;
border-radius:10px;
cursor:pointer;
}

small{
color:#aaa;
margin-top:10px;
}

#addPlanet{
width:180px;
height:50px;
margin-top:20px;
border:none;
border-radius:12px;
background:#7c4dff;
color:white;
font-weight:bold;
cursor:pointer;
}

#message{
height:25px;
margin-top:15px;
color:#00ff88;
font-weight:bold;
}

.universe-preview{
margin-top:25px;
color:white;
}

#planetList{
margin-top:15px;
}

.planet-tag{
display:inline-block;
padding:10px 16px;
margin:6px;
border-radius:25px;
color:white;
font-weight:bold;
}

.delete-planet{
margin-left:8px;
cursor:pointer;
}

.delete-planet:hover{
transform:scale(1.2);
}

.launch-btn{
width:220px;
height:55px;
margin-top:25px;
border:none;
border-radius:12px;
background:#00d4ff;
color:black;
font-weight:bold;
cursor:pointer;
}
